<?xml version="1.0"?>
<aspLoginSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <DefaultPageText1>Lorem Ipsum</DefaultPageText1>
  <DefaultPageText2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a elit sed tortor ultrices iaculis et id mi. Nam lacinia et lacus in posuere. Nullam id nibh congue, hendrerit felis a, viverra metus. Vestibulum placerat, mauris vitae tempor sagittis, velit lacus ultrices justo, sed finibus nibh nunc ac turpis. Nulla blandit libero sed dolor finibus interdum. In hac habitasse platea dictumst. Integer tempor luctus odio, eu fringilla mi interdum eu. Sed quis tellus tempus, hendrerit est mattis, tempor erat. Etiam vulputate eleifend commodo. Vestibulum quis justo at mauris accumsan rutrum et nec ligula. Vestibulum a felis iaculis, convallis dolor nec, rutrum turpis. Nullam aliquet lorem at fermentum venenatis.

Nunc vestibulum massa ac sem dictum, eget auctor nibh egestas. Aenean ac dolor ultricies, bibendum odio id, elementum leo. Maecenas faucibus accumsan molestie. Morbi nunc ex, feugiat vel faucibus ac, luctus id erat. Vestibulum quam dolor, mattis id sapien eget, pulvinar aliquam velit. Vivamus leo sapien, dapibus nec magna vel, gravida dapibus nisi. Vestibulum pretium metus ante, et congue lorem rutrum eu. Fusce id finibus orci. Etiam ut sem eget ante tristique aliquet. Cras facilisis aliquam nunc, nec posuere sem pulvinar nec. Morbi justo quam, molestie et velit dignissim, aliquam fringilla turpis. Cras eget est mauris.

Morbi in neque lectus. Sed in molestie nibh. Etiam dolor lectus, convallis in tortor eu, facilisis hendrerit lorem. Nullam sagittis dui in turpis varius, ut tincidunt dolor vestibulum. Morbi faucibus ligula vel metus porta maximus. Nullam fermentum velit magna, ut interdum est sagittis sit amet. Morbi eu dapibus diam, ut elementum orci. Vestibulum malesuada mi ac libero venenatis lobortis. Fusce id nunc felis. Mauris non pulvinar orci. Nam non enim ut augue volutpat cursus hendrerit sed neque. Aliquam vestibulum eros lorem, at consectetur justo scelerisque sit amet. Maecenas ornare pharetra erat a suscipit. Cras convallis vitae magna eget aliquet. Vestibulum rhoncus dolor ipsum, ut molestie neque laoreet id. Suspendisse luctus turpis nec justo aliquam, et tempus ligula pretium.</DefaultPageText2>
  <HeaderText>Asp.net Assignment </HeaderText>
  <FooterText>KTS Infotech</FooterText>
</aspLoginSettings>